*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Ignore vim files
.*.swp

# Ignore t.* files
t
t.*
tt
tt.*
s
s.*
r.rb

